<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">

</head>
<body>
<h1>Все Темы</h1>
<div th:each="topic : ${topics}">
<!--  <p th:utext="${topic.getNameTopic()}">VALUE</p>-->
  <a th:href="@{/show_words_on_topic/{id}(id=${topic.getId()})}" th:text="${topic.getNameTopic()}">user</a>
</div>
<h2><a href="/dict_travel_app_war/show_topics">all topics</a></h2>
<h2><a href="/dict_travel_app_war/new_word">add word</a></h2>
<h2><a href="/dict_travel_app_war/new_topic">add topic</a></h2>
<h2><a href="/dict_travel_app_war/show_all_words">all words</a></h2>
<!--<p th:text="${test}">VALUE</p>-->
</body>
</html>