<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">

</head>
<body>
<h1>все слова</h1>
<div th:each="word : ${words}">
  <p th:utext="${word.getWord()}">VALUE</p>
  <br/>
  <a th:href="@{/show_translate_on_english/{id}(id=${word.getId()})}">перевод на английский</a>
  <a th:href="@{/show_translate_on_germany/{id}(id=${word.getId()})}">перевод на немецкий</a>
  <br/>
  <a th:href="@{/delete_word/{id}(id=${word.getId()})}">удалить слово</a>
</div>
<h2><a href="/dict_travel_app_war/show_topics">all topics</a></h2>
<h2><a href="/dict_travel_app_war/new_word">add word</a></h2>
<h2><a href="/dict_travel_app_war/new_topic">add topic</a></h2>
<h2><a href="/dict_travel_app_war/show_all_words">all words</a></h2>
<h2><a href="/dict_travel_app_war/search_word">search word</a></h2>
</body>
</html>